<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Studentski odsek</h5>
          <p class="card-text">Драгана Треневски</p>
          <p class="card-text">(011) 3226-760</p>
          <p class="card-text">stud_sluzba@etf.bg.ac.rs</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
            <h5 class="card-title">Racunovodstvo</h5>
            <p class="card-text">Мирјана Влајковић</p>
            <p class="card-text">(011) 3370-146</p>
            <p class="card-text">opsta_sluzba@etf.bg.ac.rs</p>
        </div>
      </div>
    </div>
  </div>
  <br>




  <iframe allowfullscreen="" frameborder="0" height="450" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2830.7735764420236!2d20.474245515992596!3d44.805802885152495!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475a7a9f59af917f%3A0xf9b50e9f0114cb72!2z0JXQu9C10LrRgtGA0L7RgtC10YXQvdC40YfQutC4INGE0LDQutGD0LvRgtC10YIsIDczLCDQkdC10L7Qs9GA0LDQtA!5e0!3m2!1ssr!2srs!4v1512649449738" style="border:0" width="100%"></iframe>



